<section class="content profile-page">
  <div class="container-fluid">
    <div class="row clearfix p-t-30">
      <div class="col-12">
        <div class="card" style="border: none; padding: 20px">
          <div class="header">
            <h2>Overview</h2>
            <h4>Manage Packages</h4>
          </div>
          <div *ngIf="success_msg" class="alert alert-success">
            <strong>Well done!</strong> Packages Added successfully.
          </div>
          <form class="" [formGroup]="addPackages" (ngSubmit)="onSubmit()">
            <div class="body">
              <div class="row clearfix p-t-10">
                <div class="col-12">
                  <div class="card" style="border: none">
                    <div class="body">
                      <div class="row clearfix">
                        <div class="col-4">
                          <p><b>Packages Name</b></p>
                          <div class="input-group">
                            <input
                              type="text"
                              class="form-control"
                              #package_name
                              placeholder="Packages Name"
                              formControlName="package_name"
                              name="package_name"
                            />
                            <div
                              *ngIf="
                                addPackages.controls['package_name'].touched &&
                                !addPackages.controls['package_name'].valid
                              "
                            >
                              <span
                                *ngIf="
                                  addPackages.controls['package_name'].hasError(
                                    'required'
                                  )
                                "
                              >
                                Packages Name is required
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <p><b>Lab Name</b></p>
                          <select
                            class="form-control show-tick"
                            data-live-search="true"
                            formControlName="lab_id"
                          >
                            <!-- <option translate>Conatiners</option> -->
                            <option
                              *ngFor="let lab of listLabs"
                              value="{{ lab.id }}"
                            >
                              {{ lab.lab_name }}
                            </option>
                          </select>
                        </div>
                        <div class="col-4">
                          <p><b>Test List</b></p>
                          <ng-select class="custom" [items]="listTest"
                                    bindLabel="test_name"
                                    placeholder="Select Test"
                                    appendTo="body"
                                    formControlName='test_id'
                                    multiple="true"
                                    [(ngModel)]="selected">
                          </ng-select>
                          <!-- <app-select-dropdown [(ngModel)]="value" [list]="listTest" placeholder="Select member"></app-select-dropdown> -->
                          <!-- <select class="form-control show-tick" multiple data-live-search="true" formControlName='test_id' name='test_id'>
                                      <option  *ngFor="let labs of listTest;" value="{{labs.id}}">{{labs.test_name}}</option>
                                  </select> -->
                        </div>
                        <div class="col-4">
                          <p><b>Packages Price</b></p>
                          <div class="input-group">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Packages Price"
                              formControlName="package_price"
                              name="package_price"
                            />
                            <div
                              *ngIf="
                                addPackages.controls['package_price'].touched &&
                                !addPackages.controls['package_price'].valid
                              "
                            >
                              <span
                                *ngIf="
                                  addPackages.controls[
                                    'package_price'
                                  ].hasError('required')
                                "
                              >
                                Packages Price is required
                              </span>
                              <span
                                *ngIf="
                                  addPackages.controls[
                                    'package_price'
                                  ].hasError('pattern')
                                "
                              >
                                Packages Price is only in numeric
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <p><b>Packages B2B Price</b></p>
                          <div class="input-group">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Packages B2B Price"
                              formControlName="b2b"
                              name="b2b"
                            />
                            <div
                              *ngIf="
                                addPackages.controls['b2b'].touched &&
                                !addPackages.controls['b2b'].valid
                              "
                            >
                              <span
                                *ngIf="
                                  addPackages.controls['b2b'].hasError(
                                    'required'
                                  )
                                "
                              >
                                Packages B2BPrice is required
                              </span>
                              <span
                                *ngIf="
                                  addPackages.controls['b2b'].hasError(
                                    'pattern'
                                  )
                                "
                              >
                                Packages B2B Price is only in numeric
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <p><b>Status</b></p>
                          <select
                            class="form-control show-tick"
                            formControlName="status"
                            name="status"
                            id="status"
                          >
                            <option value="">Select Status</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div
                      class=""
                      style="
                        display: table;
                        margin: auto;
                        padding: 20px 0px 0px 0px;
                      "
                    >
                      <input
                        type="Submit"
                        value="ADD PACKAGES"
                        [disabled]="!addPackages.valid"
                        class="btn btn-raised btn-primary m-t-15 waves-effect"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content profile-page">
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Advance Search</b>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4 col-xs-6 col-6">
            <div class="form-group">
              <label for="name">Test Name:</label>
              <input
                type="text"
                autocomplete="off"
                class="form-control"
                id="name"
                (keyup)="onNameSearch($event.target.value)"
                placeholder="Package Name Search"
              />
            </div>
          </div>
          <div class="col-sm-4 col-xs-6 col-6">
            <div class="form-group">
              <label for="name">Samples:</label>
              <input
                type="text"
                autocomplete="off"
                class="form-control"
                (keyup)="onSamplesSearch($event.target.value)"
                placeholder="Test Name Search"
              />
            </div>
          </div>
          <div class="col-sm-4 col-xs-6 col-6">
            <div class="form-group">
              <label for="name">Samples:</label>
              <input
                type="text"
                autocomplete="off"
                class="form-control"
                id="samples"
                (keyup)="onPriceSearch($event.target.value)"
                placeholder="Price Search"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-12">
        <div class="card" style="padding: 20px">
          <div class="header">
            <h2>LISTING PACKAGES</h2>
          </div>
          <div class="body">
            <table
              class="table table-bordered table-hover dataTable js-exportable"
            >
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Sample Type</th>
                  <th>Package Price</th>
                  <th>Package B2B</th>
                  <th>Tests</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Id</th>
                  <th>Sample Type</th>
                  <th>Package Price</th>
                  <th>Package B2B</th>
                  <th>Tests</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let packages of listPackages; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ packages.package_name }}</td>
                  <td>{{ packages.package_price }}</td>
                  <td>{{ packages.b2b }}</td>
                  <td>
                    <p
                      data-toggle="tooltip"
                      data-placement="top"
                      title="{{ packages.name }}"
                    >
                      {{ packages.name.substr(0, 20) }}
                    </p>
                  </td>
                  <td class="col-green" *ngIf="packages.status == 1">Active</td>
                  <td class="col-red" *ngIf="packages.status == 0">Inactive</td>
                  <td>
                    <button
                      class="btn btn-outline-primary btn-sm"
                      href="javascript:void(0);"
                      routerLink="/package/editpackage/{{ packages.pid }}"
                      ngbDropdownToggle
                    >
                      Edit
                    </button>
                    <button
                      class="btn btn-outline-primary btn-sm"
                      href="javascript:void(0);"
                      (click)="deletePackages(packages.pid)"
                      ngbDropdownToggle
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
